<footer class="bg-base-200 text-base-content ">
    <div class="container mx-auto">
        <div
            class="footer py-10 md:py-16 grid-cols-2 sm:grid-cols-4 lg:grid-cols-auto"
        >
            <div>
                <span class="footer-title">Solutions</span>
                <a href="#!" class="link link-hover">Marketing</a>
                <a href="#!" class="link link-hover">Analytics</a>
                <a href="#!" class="link link-hover">Commerce</a>
                <a href="#!" class="link link-hover">Insights</a>
            </div>
            <div>
                <span class="footer-title">Services</span>
                <a href="#!" class="link link-hover">Branding</a>
                <a href="#!" class="link link-hover">Design</a>
                <a href="#!" class="link link-hover">Marketing</a>
                <a href="#!" class="link link-hover">Advertisement</a>
            </div>
            <div>
                <span class="footer-title">Company</span>
                <a href="#!" class="link link-hover">About us</a>
                <a href="#!" class="link link-hover">Contact</a>
                <a href="#!" class="link link-hover">Jobs</a>
                <a href="#!" class="link link-hover">Press kit</a>
            </div>
            <div>
                <span class="footer-title">Legal</span>
                <a href="#!" class="link link-hover">Terms of use</a>
                <a href="#!" class="link link-hover">Privacy policy</a>
                <a href="#!" class="link link-hover">Cookie policy</a>
            </div>
            <div class="w-full col-span-full md:col-auto">
                <span class="footer-title">Newsletter</span>
                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text"
                            >Enter your email address</span
                        >
                    </label>
                    <div class="relative">
                        <input
                            type="text"
                            placeholder="user@site.com"
                            class="input input-bordered w-full pr-16"
                        />
                        <button
                            class="btn btn-primary absolute top-0 right-0 rounded-l-none"
                            >Subscribe</button
                        >
                    </div>
                </div>
            </div>
        </div>

        <div
            class="flex flex-col sm:flex-row items-center border-t border-base-300 py-4 gap-2"
        >
            <div class="flex-grow text-center sm:text-start">
                <p>© 2022 Company, Inc. All rights reserved.</p>
            </div>
            <div class="grid grid-flow-col gap-4">
                <a class="link link-secondary" href="#!"
                    ><i class="bi bi-facebook text-xl"></i></a
                >
                <a class="link link-secondary" href="#!"
                    ><i class="bi bi-instagram text-xl"></i></a
                >
                <a class="link link-secondary" href="#!"
                    ><i class="bi bi-twitter text-xl"></i></a
                >
                <a class="link link-secondary" href="#!"
                    ><i class="bi bi-github text-xl"></i></a
                >
                <a class="link link-secondary" href="#!"
                    ><i class="bi bi-dribbble text-xl"></i></a
                >
            </div>
        </div>
    </div>
</footer>
