---
// from https://github.com/robbins23/daisyui-nextjs-landing-page/blob/master/src/components/home/Pricing.js
---
<div class="grid place-items-center bg-slate-50 w-full">
    <div class="max-w-6xl w-full py-24 px-4 content-center justify-center">
        <h2 class="text-3xl text-center font-bold">
            Flexible Pricing Plans
        </h2><div class="text-center cursor-pointer text-xl mt-6">
            <span class="align-top mr-1">Monthly</span><input
                type="checkbox"
                class="toggle toggle-primary"
                checked=""
            /><span class="align-top ml-2">Yearly</span>
        </div><div class="grid md:grid-cols-3 grid-cols-1 mt-2 w-full gap-8">
            <div
                class="card w-full mt-6 bg-base-100 shadow-xl hover:shadow-2xl"
            >
                <div class="card-body pt-12 pb-16 items-center text-center">
                    <h2 class="card-title text-xl">Free</h2><h2
                        class="font-bold mt-4 text-4xl"
                    >
                        $0
                    </h2><a class="w-full" href="/start-designing"
                        ><button
                            class="btn !hover:text-white hover:bg-primary btn-sm mt-8 w-full btn-outline normal-case"
                            >Start Your Project</button
                        ></a
                    ><ul class="text-left mt-4">
                        <li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Feature 1
                        </li><li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Feature 2
                        </li>
                    </ul>
                </div>
            </div><div
                class="card w-full mt-6 bg-base-100 shadow-xl hover:shadow-2xl"
            >
                <div class="card-body pt-12 pb-16 items-center">
                    <div
                        class="badge badge-secondary badge-sm absolute text-white mt-1 ml-1 left-2 top-2"
                    >
                        Most Popular
                    </div><h2 class="card-title text-xl text-center">
                        Advance
                    </h2><h2
                        class="font-bold mt-4 text-4xl text-center inline-block"
                    >
                        $5<!-- -->
                        <span
                            class="text-xl line-through text-secondary align-middle mr-2"
                            >$8</span
                        ><span
                            class="text-xs align-middle font-light text-slate-500"
                            >/monthly</span>
                    </h2><button
                        class="btn btn-sm mt-8 btn-primary normal-case w-full"
                        >Subscribe</button
                    ><ul class="text-left mt-4">
                        <li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Feature 1
                        </li><li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Feature 2
                        </li><li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Advance Feature 1
                        </li><li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Advance Feature 2
                        </li><li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Advance Feature 3
                        </li><li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Advance Feature 4
                        </li>
                    </ul>
                </div>
            </div><div
                class="card w-full mt-6 bg-base-100 shadow-xl hover:shadow-2xl"
            >
                <div class="card-body pt-12 pb-16 items-center">
                    <h2 class="card-title text-xl text-center">
                        Professional
                    </h2><h2
                        class="font-bold mt-4 text-4xl text-center inline-block"
                    >
                        $12<!-- -->
                        <span
                            class="text-xl line-through text-secondary align-middle mr-2"
                            >$15</span
                        ><span
                            class="text-xs align-middle font-light text-slate-500"
                            >/monthly</span>
                    </h2><button
                        class="btn btn-sm mt-8 btn-outline normal-case w-full"
                        >Subscribe</button
                    ><ul class="text-left mt-4">
                        <li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Feature 1
                        </li><li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Feature 2
                        </li><li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Advance Feature 1
                        </li><li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Advance Feature 2
                        </li><li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Advance Feature 3
                        </li><li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Professional Feature 1
                        </li><li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Professional Feature 2
                        </li><li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Professional Feature 3
                        </li><li class="mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                class="w-4 h-4 text-green-500 inline-block"
                                ><path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5"></path></svg
                            >
                            <!-- -->Professional Feature 4
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
