<section class="py-10 md:py-16 bg-neutral">
    <div class="container mx-auto">
        <div class="text-center text-white">
            <h2 class="text-3xl sm:text-5xl font-bold mb-4">
                We have some fans.
            </h2>
            <p class="text-lg sm:text-2xl mb-6 md:mb-14">
                We create engaging experiences that are innovatingand beautiful.
            </p>
        </div>

        <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 lg:gap-8">
            <div class="block mb-8 lg:mb-10">
                <div class="stack">
                    <div class="card bg-secondary text-secondary-content">
                        <div class="card-body gap-4">
                            <div class="flex items-center">
                                <div class="avatar flex-shrink-0">
                                    <div
                                        class="w-16 rounded-full border-2 border-white"
                                    >
                                        <img src="https://placehold.co/400" />
                                    </div>
                                </div>

                                <div class="ml-3">
                                    <p
                                        class="text-lg font-medium leading-tight"
                                    >
                                        Eric Ampire
                                    </p>
                                    <small>Mobile dev</small>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Illum aliquid quo eum quae
                                quos illo earum ipsa doloribus nostrum minus
                                libero aspernatur laborum cum, a suscipit,
                                ratione ea totam ullam! Lorem ipsum dolor sit
                                amet consectetur, adipisicing elit. Architecto
                                laboriosam deleniti aperiam ab veniam sint non
                                cumque quis tempore cupiditate. Sint libero
                                voluptas veniam at reprehenderit, veritatis
                                harum et rerum.
                            </p>
                        </div>
                    </div>
                    <div class="card bg-primary h-10"></div>
                    <div class="card bg-warning h-10"></div>
                </div>
            </div>

            <div class="block mb-8 lg:mb-10">
                <div class="stack">
                    <div class="card bg-secondary text-secondary-content">
                        <div class="card-body gap-4">
                            <div class="flex items-center">
                                <div class="avatar flex-shrink-0">
                                    <div
                                        class="w-16 rounded-full border-2 border-white"
                                    >
                                        <img src="https://placehold.co/400" />
                                    </div>
                                </div>

                                <div class="ml-3">
                                    <p
                                        class="text-lg font-medium leading-tight"
                                    >
                                        Adam Wathan
                                    </p>
                                    <small>Creator of Tailwindcss</small>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Architecto laboriosam deleniti
                                aperiam ab veniam sint non cumque quis tempore
                                cupiditate. Sint libero voluptas veniam at
                                reprehenderit, veritatis harum et rerum.
                            </p>
                        </div>
                    </div>
                    <div class="card bg-primary h-10"></div>
                    <div class="card bg-warning h-10"></div>
                </div>
            </div>

            <div class="block mb-8 lg:mb-10">
                <div class="stack">
                    <div class="card bg-secondary text-secondary-content">
                        <div class="card-body gap-4">
                            <div class="flex items-center">
                                <div class="avatar flex-shrink-0">
                                    <div
                                        class="w-16 rounded-full border-2 border-white"
                                    >
                                        <img src="https://placehold.co/400" />
                                    </div>
                                </div>

                                <div class="ml-3">
                                    <p
                                        class="text-lg font-medium leading-tight"
                                    >
                                        Ben Sulumu
                                    </p>
                                    <small>Manager</small>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Architecto laboriosam deleniti
                                aperiam ab veniam sint non cumque quis tempore
                                cupiditate. Sint libero voluptas veniam at
                                reprehenderit, veritatis harum et rerum.
                            </p>
                        </div>
                    </div>
                    <div class="card bg-primary h-10"></div>
                    <div class="card bg-warning h-10"></div>
                </div>
            </div>

            <div class="block mb-8 lg:mb-10">
                <div class="stack">
                    <div class="card bg-secondary text-secondary-content">
                        <div class="card-body gap-4">
                            <div class="flex items-center">
                                <div class="avatar flex-shrink-0">
                                    <div
                                        class="w-16 rounded-full border-2 border-white"
                                    >
                                        <img src="https://placehold.co/400" />
                                    </div>
                                </div>

                                <div class="ml-3">
                                    <p
                                        class="text-lg font-medium leading-tight"
                                    >
                                        Rodrigo Aguilar
                                    </p>
                                    <small>Creator of Tailwind Awesome</small>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Architecto laboriosam deleniti
                                aperiam ab veniam sint non cumque quis tempore
                                cupiditate. Sint libero voluptas veniam at
                                reprehenderit, veritatis harum et rerum.
                            </p>
                        </div>
                    </div>
                    <div class="card bg-primary h-10"></div>
                    <div class="card bg-warning h-10"></div>
                </div>
            </div>

            <div class="block mb-8 lg:mb-10">
                <div class="stack">
                    <div class="card bg-secondary text-secondary-content">
                        <div class="card-body gap-4">
                            <div class="flex items-center">
                                <div class="avatar flex-shrink-0">
                                    <div
                                        class="w-16 rounded-full border-2 border-white"
                                    >
                                        <img src="https://placehold.co/400" />
                                    </div>
                                </div>

                                <div class="ml-3">
                                    <p
                                        class="text-lg font-medium leading-tight"
                                    >
                                        Dan Kyungu
                                    </p>
                                    <small>Mobile dev</small>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Architecto laboriosam deleniti
                                aperiam ab veniam sint non cumque quis tempore
                                cupiditate. Sint libero voluptas veniam at
                                reprehenderit, veritatis harum et rerum.
                            </p>
                        </div>
                    </div>
                    <div class="card bg-primary h-10"></div>
                    <div class="card bg-warning h-10"></div>
                </div>
            </div>

            <div class="block mb-8 lg:mb-10">
                <div class="stack">
                    <div class="card bg-secondary text-secondary-content">
                        <div class="card-body gap-4">
                            <div class="flex items-center">
                                <div class="avatar flex-shrink-0">
                                    <div
                                        class="w-16 rounded-full border-2 border-white"
                                    >
                                        <img src="https://placehold.co/400" />
                                    </div>
                                </div>

                                <div class="ml-3">
                                    <p
                                        class="text-lg font-medium leading-tight"
                                    >
                                        Randy Doe
                                    </p>
                                    <small>Mobile dev</small>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Architecto laboriosam deleniti
                                aperiam ab veniam sint non cumque quis tempore
                                cupiditate. Sint libero voluptas veniam at
                                reprehenderit, veritatis harum et rerum.
                            </p>
                        </div>
                    </div>
                    <div class="card bg-primary h-10"></div>
                    <div class="card bg-warning h-10"></div>
                </div>
            </div>
        </div>
    </div>
</section>
