---
import LoginForm from "@components/auth/LoginForm";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lucia example</title>
	</head>
	<body>
		<h1>Sign in</h1>
		<LoginForm client:load/>
		<a href="/auth/signup">Create an account</a>
	</body>
</html>