---
import SignUpForm from "@components/auth/SignUpForm";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lucia example</title>
	</head>
	<body>
		<h1>Create an account</h1>
		<SignUpForm client:load/>
		
		<a href="/login">Sign in</a>
	</body>
</html>
