---
import Shell from "@layouts/Shell.astro";
import { db, Todo } from "astro:db";
import AddTask from "@components/AddTask";
import TodoTable from "@components/TodoTable";
type TodoRowProps = {
	id: number;
	task: string;
	complete: boolean;
};
const t = await db.select().from(Todo);
const tasks: TodoRowProps[] = t as unknown as TodoRowProps[];
---

<Shell>
	<div class="card bg-base-100 shadow lg:col-span-3">
		<div class="card-body">
			<h2 class="card-title">Todo List</h2>
			<div class="overflow-x-auto">
				<TodoTable tasks={tasks} client:load/>
			</div>
		</div>
	</div>

	<div class="card bg-base-100 shadow">
		<div class="card-body">
			<h2 class="card-title">Aside</h2>
			<AddTask client:load />
		</div>
	</div>
</Shell>
