---
import Shell from "@layouts/Shell.astro";
import { db, Todo } from "astro:db";

type TodoRowProps = {
    id: number;
    task: string;
    complete: boolean;
};
const tasks: TodoRowProps[] = await db.select().from(Todo);
import TodoForm from "@components/TodoForm.tsx";
import TodoRow from "@components/TodoRow.tsx";

---

<Shell>
	<div class="card bg-base-100 shadow lg:col-span-3">
		<div class="card-body">
			<h2 class="card-title">Todo List</h2>
			<div class="overflow-x-auto">
				<table class="table">
					<!-- head -->
					<thead>
						<tr>
							<th>
								<label>
									<input type="checkbox" class="checkbox" />
								</label>
							</th>
							<th>Name</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{
							tasks.map(({id, task, complete}) => (
								<TodoRow id={id} task={task} complete={complete} client:load />
							))
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="card bg-base-100 shadow">
		<div class="card-body">
			<h2 class="card-title">Aside</h2>
			<TodoForm client:load />
		</div>
	</div>
</Shell>
