---
import Shell from "@layouts/Shell.astro";
---

<Shell>
	<div class="card bg-base-100 shadow lg:col-span-3">
		<div class="card-body">
			<h2 class="card-title">Content</h2>
			<p>lorem ipsum</p>
		</div>
	</div>

	<div class="card bg-base-100 shadow">
		<div class="card-body">
			<h2 class="card-title">Aside</h2>
			<p>On this page</p>
		</div>
	</div>
</Shell>
